{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ article.headline }}</title>
	<link rel="icon" href="{% static "img/Fevicon.png" %}" type="image/png">

  <link rel="stylesheet" href="{% static "vendors/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/fontawesome/css/all.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/themify-icons/themify-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/linericon/style.css" %}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css" %}">

  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static "img/logo.png" %}" alt="" style="max-width: 50%; height: auto"></a>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->
  
  <!--================ Hero sm Banner start =================-->      
  <section class="mb-30px">
    <div class="container">
      <div class="hero-banner hero-banner--sm" style="background: url({{ article.images.all.0.url }})">
        <div class="hero-banner__content">
          <h1>{{ article.headline }}</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{ article.byline }}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ article.publish_at.date }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--================ Hero sm Banner end =================-->    


  

  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <div class="main_blog_details">
                <a href="#"><h4>{{ article.headline }}</h4></a>
                <div class="user_details">
                  <div class="float-right mt-sm-0 mt-3">
                    <div class="media">
                      <div class="media-body">
                        <h5>{{ article.byline }}</h5>
                        <p>{{ article.date }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <p>{{ article.body |safe }}</p>
               <div class="news_d_footer flex-column flex-sm-row">
                 <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span>Lily and 4 people like this</a>
                 <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span>{{ comment_list|length }} Comments</a>
                 <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
               <a href="#"><i class="fab fa-facebook-f"></i></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-dribbble"></i></a>
               <a href="#"><i class="fab fa-behance"></i></a>
             </div>
               </div>
              </div>
            <div class="comments-area">
                    <h4>{{ comment_list|length }} Comments</h4>
                {% for comment in comment_list %}
                    <div class="comment-list">
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb">
                                </div>
                                <div class="desc">
                                    <h5><a href="#">{{ comment.name }}</a></h5>
                                    <p class="comment">
                                        {{ comment.message }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>

                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form action="{% url 'submit-comment' %}" target="_self" method="post" id="commentForm">
                        <div class="form-group form-inline">
                          <div class="form-group col-lg-6 col-md-6 name">
                            <input name="name" type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                          </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
                        </div>
                        <input id="articleid" type="text" name="article" value="{{ article.id }}" style="display: none;">
                        <a href="#" class="button submit_btn" onclick="document.getElementById('commentForm').submit();">Post Comment</a>
                    </form>
                </div>
        </div>

        <!-- Start Blog Post Siddebar -->
        <div class="col-lg-4 sidebar-widgets">
            <div class="widget-wrap">
              <div class="single-sidebar-widget post-category-widget">
                <h4 class="single-sidebar-widget__title">Category</h4>
                <ul class="cat-list mt-20">
                    {% for tag in article.tags.all %}
                  <li>
                    <a href="#" class="d-flex justify-content-between">
                      <p>{{ tag.name }}</p>
                    </a>
                  </li>
                    {% endfor %}
                </ul>
              </div>

              <div class="single-sidebar-widget popular-post-widget">
                <h4 class="single-sidebar-widget__title">Hot Stocks</h4>
                <div class="popular-post-list">
                  <div class="single-post-list" id="quote1">
                    <div class="details mt-20">
                      <a href="#" id="quotewebsite1">
                        <h6 id="quotetitle1"></h6>
                      </a>
                    </div><br />
                      <div class="thumb">
                      <ul class="thumb-info">
                        <li><a href="#" id="quoteticker1"></a></li>
                        <li><a href="#" id="quotecurrentprice1"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="single-post-list" id="quote2">
                    <div class="details mt-20">
                      <a href="#" id="quotewebsite2">
                        <h6 id="quotetitle2"></h6>
                      </a>
                    </div><br />
                      <div class="thumb">
                      <ul class="thumb-info">
                        <li><a href="#" id="quoteticker2"></a></li>
                        <li><a href="#" id="quotecurrentprice2"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="single-post-list" id="quote3">
                    <div class="details mt-20">
                      <a href="#" id="quotewebsite3">
                        <h6 id="quotetitle3"></h6>
                      </a>
                    </div><br />
                      <div class="thumb">
                      <ul class="thumb-info">
                        <li><a href="#" id="quoteticker3"></a></li>
                        <li><a href="#" id="quotecurrentprice3"></a></li>
                      </ul>
                    </div>
                  </div>
                </div><br />
              <a onclick = "shuffleQuotes()" class="button submit_btn">Shuffle</a>
              </div>
              </div>
              </div>
            </div>
          </div>
        <!-- End Blog Post Siddebar -->
      </div>
  </section>
  <!--================ End Blog Post Area =================-->


  <script src="{% static "vendors/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
  <script src="{% static "js/mail-script.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script>
      let quoteData;
      window.onload = function() {
      getQuoteData().then(data => setUpQuotes(data));
      };
      async function getQuoteData() {
        let response = await fetch('{% url 'quotes-per-article' article.id %}');
        let data = await response.json();
        return data;
      };
      function setUpQuotes(data){
        quoteData = data;
        setQuotes(quoteData);
      };
      function setQuotes(data) {
        var i;
        var quotesUsed = [];
        for (i = 1; i < 4; i++) {
          if (i > data.length){
            document.getElementById("quote" + i).style.display = "none";
            continue;
          }
          quoteNum = getRndInteger(0, data.length-1, quotesUsed);
          quotesUsed.push(quoteNum);
          document.getElementById("quotetitle" + i).innerHTML = data[quoteNum].companyName;
          document.getElementById("quotewebsite" + i).href = data[quoteNum].website;
          document.getElementById("quoteticker" + i).innerHTML = data[quoteNum].symbol;

          quoteGrowth = data[quoteNum].revenueGrowth;
          document.getElementById("quotecurrentprice" + i).innerHTML = quoteGrowth;
          if (quoteGrowth > 0) {
              document.getElementById("quotecurrentprice" + i).style.color = "#43eb34"
          }
          else if (quoteGrowth < 0) {
              document.getElementById("quotecurrentprice" + i).style.color = "#eb3434"
          }
          else {
              document.getElementById("quotecurrentprice" + i).style.color = "#000000"
          }
        };
      };
      function getRndInteger(min, max, used) {
        min = Math.ceil(min);
        max = Math.floor(max);
        num = Math.floor(Math.random() * (max - min + 1)) + min;
        while (used.includes(num)){
          num = Math.floor(Math.random() * (max - min + 1)) + min;
        }
        return num;
      };
      function shuffleQuotes() {
        setQuotes(quoteData);
      };
  </script>
</body>
</html>