{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Motley Fool - Home</title>
	<link rel="icon" href="{% static "img/Fevicon.png" %}" type="image/png">

  <link rel="stylesheet" href="{% static "vendors/bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/fontawesome/css/all.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/themify-icons/themify-icons.css" %}">
  <link rel="stylesheet" href="{% static "vendors/linericon/style.css" %}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css" %}">

  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html"><img src="{% static "img/logo.png" %}" alt="" style="max-width: 50%; height: auto"></a>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->
  
  <main class="site-main">
    <!--================Hero Banner start =================-->  
    <section class="mb-30px">
      <div class="container">
        <div class="hero-banner" id="banner">
            <a href="#" onclick="articleRedirect()">
          <div class="hero-banner__content">
            <h3 id="mainauthor"></h3>
            <h1 id="maintitle"></h1>
            <h4 id="maindate"></h4>
          </div>
            </a>
        </div>
      </div>
    </section>
    <!--================Hero Banner end =================-->  

    <!--================ Blog slider start =================-->  
    <section>
      <div class="container">
        <div class="owl-carousel owl-theme blog-slider">
            {% for article in articles_list %}
          <div class="card blog__slide text-center">
            <div class="blog__slide__img">
              <img class="card-img rounded-0" src="{{ article.images.all.0.url }}" alt="">
            </div>
            <div class="blog__slide__content">
              <a class="blog__slide__label" href="{% url 'article-view' article.id %}">{{ article.article_type }}</a>
              <h3><a href="{% url 'article-view' article.id %}">{{ article.headline }}</a></h3>
              <p>{{ article.publish_at.date }}</p>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
    <!--================ Blog slider end =================-->  

  </main>

  <script src="{% static "vendors/jquery/jquery-3.2.1.min.js" %}"></script>
  <script src="{% static "vendors/bootstrap/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
  <script src="{% static "js/mail-script.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  <script>
  let mainArticle;
  window.onload = function() {
      getMainArticle().then(data => setMain(data));
  };
  function setMain(data) {
    document.getElementById('maintitle').innerHTML = data.headline;
    document.getElementById('banner').style.background = 'url(' + data.images[0].url + ')';
    document.getElementById('maindate').innerHTML = formatDate(data.publish_at);
    document.getElementById('mainauthor').innerHTML = data.byline;
    mainArticle = data;
  };
  function formatDate(ISODate) {
    date = new Date(ISODate);
    return date.toDateString();
  };
  async function getMainArticle() {
    let response = await fetch('http://localhost:8000/content_api/article-by-slug?slug=10-promise');
    let data = await response.json();
    return data[0];
  };
  async function getArticles() {
    let response = await fetch('http://localhost:8000/content_api/articles');
    let data = await response.json();
    return data;
  };
  function articleRedirect() {
      window.location.href = 'http://localhost:8000/articles/' + mainArticle.id;
  };
  </script>
</body>
</html>